.navBar-container {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 70px;
    color: white;
    z-index: 999;
    top: 0;
    background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
    transition:0.5s ease-in-out;
   
    .left {
        display: flex;
        align-items: center;

        img {
            height: 25px;
            margin-left: 25px;
        }

        ul {
            display: flex;
            gap: 20px;
            list-style: none;

            li {
                color: white;
                cursor: pointer;
            }
        }
    }

    .rigth {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-right: 25px;

        img {
            width: 30px;
            height: 30px;
            border-radius: 15%;
        }
        span{
            cursor: pointer;
        }
        .navBar-container-choose {
            .container-section {
                display: none;
                span {
                    font-size: 12px;
                    cursor: pointer;
                }
            }
            &:hover{ 
               .container-section{ 
                display: block;
                position: absolute;
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 2px ;
                align-items: center;
                background-color: var(--main-color);
                border-radius: 5px;
               }
            }
        }

        
    }
    &.isScroll{ 
        background-color: var(--main-color);

        .container-section{ 
            background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);

        }
    }
}